body {
  width: 75%;
  margin: auto;
}

h1 {
  margin-top: 30px;
}

.welcome {
  margin-bottom: 40px;
}

.object {
  margin-top: 40px;
  font-size: x-large;
  font-weight: 300;
}

.object p:last-child {
  display: flex;
  justify-content: space-between;
  color: darkgray;
}

.object .object-name {
  font-style: normal;
}

.object .object-description {
  font-style: italic;
}


